################################################
## useDynLib
################################################

useDynLib(EpiILMCT, .registration = TRUE)


################################################
## import name space
################################################

import(stats)
import(graphics)
import(grDevices)
import(methods)
import(utils)
import(tools)
import(coda)


################################################
## functions
################################################

export(epiplot)
export(contactnet)
export(datagen)
export(epictmcmc)
export(loglikelihoodepiILM)

################################################
## S3 methods:
################################################

S3method(print, epictmcmc)
S3method(print, summary.epictmcmc)
S3method(summary, epictmcmc)
S3method(plot, epictmcmc)
